h1, p, a  {
	color: white;
	text-decoration: none;
	font-family: 'Ubuntu Mono', monospace;
}

body {
	background-image: url("images/brickTextureDark.png");
}

#header {
	width: 100%;
	padding: 1em;
	position: fixed;
	margin-bottom: 1em;
	background-color: #000000f0;
	border-bottom: 1px solid white;
}

#title {
	width: 6em;
	padding: 5px;
	margin-left: auto;
	text-align: center;
	margin-right: auto;
	margin-bottom: 0.5em;
	border: 2px solid white;
}

#headerFlexWrapper > div {
	width: 7em;
	text-align: center;
	padding-top: 0.5em;
}

#flexWrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

#flexWrapper > div > a > img {
	width: 30em;
}

#flexWrapper > div {
	width: 30em;
	margin: 0.5em;
	background-color: white;
	border: 0.5em solid white;
}

#headerFlexWrapper {
	display:flex;
	justify-content: space-around;
}

#buffer {
	height: 6.5em;
}