h1, p, a  {
	color: white;
	font-family: 'Ubuntu Mono', monospace;
	text-decoration: none;
}

body {
	background-image: url("images/brickTextureDark.png");
}

#header {
	padding: 1em;
	margin-bottom: 1em;
	border-bottom: 1px solid white;
}

#title {
	width: 6em;
	padding: 5px;
	margin-left: auto;
	text-align: center;
	margin-right: auto;
	border: 2px solid white;
}

#flexWrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

#flexWrapper > div > img {
	width: 30em;
}

#flexWrapper > div {
	width: 30em;
	margin: 0.5em;
	border: 1em solid white;
	background-color: white;
}